
.article-form{
  width: 100%;
  min-width: 500px;
  background-color: #37AB9D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.article-form-main{
  background-color: white;
  width: 90%;
  padding: 5% 10%;
}

.article-form-title{
  text-align: center;
  padding-bottom: 5vh;
  font-size: 24px;
  color: #454545;
  font-weight: bold;
}

.article-main{
  width: 100%;
}

.article-contents{
  padding-bottom: 3%;
}

.input-form{
  width: 70%;
}

.select-box{
  height: 3vh;
}

.contents-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-contents{
  margin-left: 5%;
}

.image-contents{
  padding: 10% 0;
}

.guide{
  color: #454545;
}

.rate-contents{
  display: flex;
  justify-content: space-around;
  margin:1% 0 3%;
  color: #454545;
}

.text-form{
  width: 70%;
  height: 10vh;
  vertical-align: top;
  padding: 1%;
}

.article-post{
  text-align: center;
 }
 
 .post-btn{
   width: 20%;
   height: 5vh;
   background-color: #FFC042;
   color: white;
   cursor: pointer;
   border: none;
   border-radius: 30px;
 }

.footer-logo{
  padding-top: 5vh;
}