
.create-time{
  font-size: 12px;
  color: lightgray;
  margin-bottom: 3% ;
  text-align: right;
}

.favorite{
  text-align: left;
}

.nolike{
  margin: 0 0 2% 5%;
  padding: 1% 2%;
  font-size: 18px;
  border: 2px outset #454545;
  color: #454545;
  background-color: #eaeaea;
  border-radius: 10px;
}

.like{
  margin: 0 0 2% 5%;
  padding: 1% 2%;
  font-size: 18px;
  border: 2px inset indianred;
  color: white;
  background-color: indianred;
  border-radius: 10px;
}

.author-menu{
  margin-bottom: 3%;
  text-align: left;
}

.edit-btn{
  margin: 0 5%;
  padding: 1vh 3%;
  border: 1px outset #ffc042;
  background-color: #ffc042;
  color: white;
  border-radius: 5px;
}

.delete-btn{
  padding: 1vh 3%;
  border: 1px outset indianred;
  background-color: indianred;
  color: white;
  border-radius: 5px;
}

.show-title{
  padding: 5px;
  text-align: left;
  width: 100%;
  background-color: #4dc0b2;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}

.show-title:before{
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  padding-right: 7px;
}

.datetime-info{
  padding: 3% 0;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #454545;
}

.show-writer {
  color: #454545;
}

.hashtag a{
  font-size: 20px;
  padding: 1px;
  background-color: #ffc042;
  color: white;
  border-radius: 3px;
}

.article-img-content{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.show-img{
  width: 40%;
  height: 40vh;
  object-fit: contain;
}

.rate-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map{
  width: 40%;
  height: 30vh;
  border: 1px solid #454545;
}

table{
  width: 50%;
  margin: 5% 0;
  border: solid 2px #37AB9D;
  border-collapse: collapse;
}

table th{
  padding: 5% 0;
  text-align: center;
  background-color: #4DC0B2;
  color: white;
  font-weight: bold;
  border: dashed 1px #37AB9D;
}

table td{
  padding: 5% 0;
  border: dashed 1px #37AB9D;
}

.favorite{
  margin: 3% 0 0;
}

.text-box{
  margin-top: 3%;
  padding: 2% 2%;
  background-color: #dcdcdc;
  width: 100%;
  height: 20vh;
  text-align: left;
  border-radius: 5px;
  white-space: pre-wrap;

}

.comment-wrapper{
  width: 90%;
  margin: 5% auto 0;
  color: #454545;
  border: 3px solid #4DC0B2;
  border-radius: 10px;
}

.comment-title{
  background-color: #4dc0b2;
  color: white;
  height: 5vh;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.comment-title:before{
  font-family: "Font Awesome 5 Free";
  content: "\f075";
  padding: 0 7px;
}

.comment-list{
  padding: 2% 3%;
  width: 100%;
  height: 20vh;
  overflow: scroll;
  text-align: left;
  overflow: scroll;
}

.comment-message{
  padding: 3% 3%;
  width: 100%;
  text-align: center;
}

.comment-contents{
  background-color: #ffeddb;
  width: 100%;
  min-width: 120px;
  max-width: 100%;
  border-radius: 5px;
  padding: 1% 3%;
  margin-bottom: 2%; 
}

.comment-form{
  margin: 3% 0;
}

.comment-btn{
 margin-top: 2%;
 width: 20%;
 height: 4vh;
 background-color: #4dc0b2;
 color: white;
 cursor: pointer;
 border: none;
 border-radius: 30px;
}

.comment-warn{
  padding: 3% 0;
}
