.top-header{
  min-width: 960px;
  height: 20vh;
  background-color: #37AB9D;
  display: flex;
}

.search-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.search-form{
  display: flex;
}

.logo{
  padding-right: 10vw;
}

.text-input{
  width: 30vw;
  height: 7vh;
}

.menu-contents{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menu-list{
  display: flex;
}

.newpost{
  text-decoration: none;
  font-size: 18px;
  padding: 15px 25px;
  color: white;
  background-color: #FFC042;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.sign-out{
  text-decoration: none;
  font-size: 18px;
  padding: 15px 25px;
  margin-left: 4vw;
  color: white;
  background-color: #586365;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.login{
  text-decoration: none;
  font-size: 18px;
  padding: 15px 25px;
  color: white;
  background-color: #4DC0B2;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.sign-up{
  text-decoration: none;
  font-size: 18px;
  padding: 15px 25px;
  margin-left: 4vw;
  color: white;
  background-color: #FFC042;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}
