<div class="top-header">　
 <div class="search-contents">
   <%= link_to image_tag("logo.png", class:"logo"), "/" %>
    <form class="search-form">
     <input type="text" class="text-input">
     <input type="submit" value="検索" class="search-button">
    </form>
 </div>

 <div class="menu-contents">
    <ul class="menu-list">
    <% if user_signed_in? %>
     <li><%#= link_to ' NewPost',"#", class: "newpost" %></li>
     <li><%#= link_to 'Signout',"#", class: "sign-out" %></li>
    <% else %>
     <li><%= link_to 'Login ',"#", class: "login" %></li>
     <li><%= link_to 'Signup',"#", class: "sign-up" %></li>
    <% end %>
    </ul>
 </div>
</div>