<div class='newpost'>
  <a href=" /articles/new">
    <%= image_tag 'note.png' , class: "newpost-btn" %>
    <p class='newpost-text'>記録をする</p>
  </a>
</div>
 
 <div class="search-list">
  <p>カテゴリー検索</p>
  <p>都道府県検索</p>
  </div>

